// @import src/assets/sass/_animations.scss;

@keyframes scribbleText {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes subtle {
  from{
  transform: translateY(5px);
  }
  to{
    transform: translateY(-5px);
  }
}
*{
  margin: 0px;
  padding: 0px;
}
.navBar{
  display: flex;
  width: 100%;
  height: 7vw;
  background-color: #FFFFFF;
  justify-content:flex-end;
  align-items: center;

}
.mini-menu{
  width: 7%;
  height: 80%;
  max-width: 80px;
  max-height:70px;
}
.container{
}



.pageLanding{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
  margin-bottom: 70vh;
  margin-top: 25vh;
    img{
    max-width:1750px;
    max-height: 600px;
    position: absolute;
    transform: scale(.4);
    width: 130%;
  }
  #first{
    animation: scribbleText 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  }
  #second{
    animation: scribbleText 1.2s;
    animation-iteration-count: infinite;
  }
  #third{
    animation: scribbleText .9s;
    animation-iteration-count: infinite;

  }
}




.drinkTypes{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  width: 100%;
  margin-bottom: 10vh;
  .drinks{
    // @include animation-name(fadeInRight);
    // @include animation-duration(2s);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7.5vw;
    height: 20vw;
    width: 20vw;
    max-width: 320px;
    max-height: 320px;

  }
  .column{
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    justify-content: center;
    width:100%;
    .whiskey{
      margin-right: 30%;
      background-color: blue;
      h2 {
        margin-left: -40vw;
      }
    }
    .tequila{
      margin-right: 30%;
      background-color: green;
      h2 {
        margin-left: -40vw;
      }
    }
    .vodka{
      margin-left: 30%;
      background-color: red;
      h2 {
        margin-right: -40vw;
      }
    }
    .gin{
      margin-left: 30%;
      background-color: yellow;
      h2 {
        margin-right: -40vw;
      }
    }
  }
}
