// @import src/assets/sass/_animations.scss;

@keyframes scribbleText {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes subtle {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes hoverSize {
  from {
  }
  to {
    transform: scale(1.3);
  }
}





*{
  margin: 0px;
  padding: 0px;
}
.navBar{
  display: flex;
  width: 100%;
  height: 7vh;
  background-color: #FFFFFF;
  justify-content:flex-end;
  align-items: center;

}
.hamburger-menu{
  margin-top: 3%;
  position: relative;
  display: inline-block;
}
.mini-menu {
  margin-top: none;
  width: 100%;
  height: 100%;
  max-width: 90px;
  max-height: 80px;
}

.hamburger-menu:hover .hide-show{
  display: block;
  animation: subtle 1s .5 forwards;
}

.hide-show{
  background-color: silver;
  display: none;
  position: absolute;
  width: 100%;
  a{
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    li{
      padding: 5%;
      font-size: 1em;
    }
  }
}



.pageLanding{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
  margin-bottom: 70vh;
  margin-top: 20vh;
    img{
    max-width:1750px;
    max-height: 600px;
    position: absolute;
    transform: scale(.4);
    width: 130%;
  }
  #first{
    animation: scribbleText 1s .9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  #second{
    animation: scribbleText 1s .6s;
    animation-iteration-count: infinite;
  }
  #third{
    animation: scribbleText 1s .3s;
    animation-iteration-count: infinite;
  }
}

.standAlone {
  font-family: sans-serif;
  font-size: 2em;
  font-weight: lighter;
  text-align: center;
  margin: auto;
  margin-top: -5vw;
  margin-bottom: 5vw;
}


.drinkTypes{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  width: 100%;
  margin-bottom: 5vh;
  .drinks{
    // @include animation-name(fadeInRight);
    // @include animation-duration(2s);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -5vw;
    height: 25vw;
    width: 25vw;
    max-width: 420px;
    max-height: 420px;
    text-align: center;
    img {
      border-radius: 15px;
      border: 1px solid white;
      width:100%;
      height: 100%;
    }
  }
  .column{
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    justify-content: center;
    width:100%;
    h2 {
      position: absolute;
      color: white;
      font-size: 2em;
      z-index: 2;
    }
    .whiskey{
      margin-right: 30%;
    }
    .tequila{
      margin-right: 30%;
    }
    .vodka{
      margin-left: 30%;
    }
    .gin{
      margin-left: 30%;
    }
  }
}

.drinks:hover {
  animation: hoverSize .5s forwards;

}

.rows{
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;

}
.drinksWhiskey{
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: none;
}

// THESE ANIMATIONS ARE FOR 3 INGREDIENT DRINKS
@keyframes di {
  to{
    border-radius: 50%;
    transform: translate(-9.5vw, -9vh);
    width: 60px;
    height: 60px;

  }
}
@keyframes di2 {
  to{
    border-radius: 50%;
    transform: translate(0vw, -20vh);
    width: 60px;
    height: 60px;
  }
}
@keyframes di3 {
  to{
    border-radius: 50%;
    transform: translate(9.5vw, -20.25vh);
    width: 60px;
    height: 60px;
  }
}

// THESE ANIMATIONS ARE FOR 5 INGREDIENT DRINKS
@keyframes di5 {
  from{

  }
  to{
    border-radius: 50%;
    transform: translate(-9vw, -2vh);
    width: 60px;
    height: 60px;

  }
}
@keyframes di25 {
  from{

  }
  to{
    border-radius: 50%;
    transform: translate(-6vw, -13vh);
    width: 60px;
    height: 60px;
  }
}
@keyframes di35 {
  from{

  }
  to{
    border-radius: 50%;
    transform: translate(0vw, -20vh);
    width: 60px;
    height: 60px;
  }
}
@keyframes di45 {
  from{

  }
  to{
    border-radius: 50%;
    transform: translate(6vw, -21vh);
    width: 60px;
    height: 60px;
  }
}
@keyframes di55 {
  from{

  }
  to{
    border-radius: 50%;
    transform: translate(9vw, -18vh);
    width: 60px;
    height: 60px;
  }
}

@keyframes blowUp {
  to{
    opacity: 0;
    transform:scale(2);
    display: none;
    z-index: -5;
  }
}

.fiveID1 {
  animation: di5 1s 0s forwards;
}
.fiveID2 {
  animation: di25 1s 0s forwards;
}
.fiveID3 {
  animation: di35 1s 0s forwards;
}
.fiveID4 {
  animation: di45 1s 0s forwards;
}
.fiveID5 {
  animation: di55 1s 0s forwards;
}


.threeID1{
  animation: di 1s 0s forwards;
}
.threeID2{
  animation: di2 1s 0s forwards;
}
.threeID3{
  animation: di3 1s 0s forwards;
}


.blowUps {
  animation: blowUp 1.5s .25s forwards;
}

.drinkthumb{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10vw;
  height: 100%;
  font-size: 1.3vw;

}
.cups{
  border-bottom: 2px solid blue;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  width: 100%;
  height: 20vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
// OLD FASHIONED
.ingredient1{
  width: 100%;
  height: 18%;
  background-color: red;
}
.ingredient2{
  width: 100%;
  height: 18%;
  background-color: yellow;
}
.ingredient3{
  width: 100%;
  height: 18%;
  background-color: blue;
}
.ingredient4{
  width: 100%;
  height: 18%;
  background-color: green;
}
.ingredient5{
  width: 100%;
  height: 18%;
  background-color: yellow;
}

// WHISKEY SOUR
.w-s1{
  width: 100%;
  height: 30%;
  background-color: red;
}
.w-s2{
  width: 100%;
  height: 30%;
  background-color: yellow;
}
.w-s3{
  width: 100%;
  height: 30%;
  background-color: blue;
}

// MANHATTAN
.man-1{
  width: 100%;
  height: 30%;
  background-color: red;
}
.man-2{
  width: 100%;
  height: 30%;
  background-color: yellow;
}
.man-3{
  width: 100%;
  height: 30%;
  background-color: blue;
}
// MINT JULEP
.m-j1{
  // animation: di 1s forwards;
  width: 100%;
  height: 18%;
  background-color: red;
}
.m-j2{
  // animation: di3 1s forwards;
  width: 100%;
  height: 18%;
  background-color: yellow;
}
.m-j3{
  // animation: di3 1s forwards;
  width: 100%;
  height: 18%;
  background-color: blue;
}
.m-j4{
  // animation: di3 1s forwards;
  width: 100%;
  height: 18%;
  background-color: green;
}
.m-j5{
  width: 100%;
  height: 18%;
  background-color: yellow;
}

.containerWhiskey{
  display: flex;
  flex-direction: column;
}
.back{
  margin-top:2vw;
  margin-bottom: 5vw;
  display:none;
}
